.logo {
    height: 32px;
    margin: 16px;
    /* background: #E6F4FE; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img{
    width: 2em;
    height: 2em;
  }
  
  .logo-text{
    font-size: 1.2em;
    margin-left: 14px;
  }
  
  .logo-text-close{
    display: none;
    opacity: 0;
  }

  .logo-text-open{
    display: inline-block;
    opacity: 1;
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  /**
   * ----------------------------------------
   * animation tracking-in-expand
   * ----------------------------------------
   */
   @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }